@model PathojaPilatesProject.Models.Home.HomePopupEventVM

<div class="modal fade home-popup-event-modal" id="homePopupEventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content home-popup-event-content">

            <button type="button"
                    class="btn-close home-popup-event-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>

            <img src="@Model.ImageUrl"
                 alt="Men of the Method - Pathoja Event"
                 class="home-popup-event-image" />

        </div>
    </div>
</div>